<script>
    console.log("Hello, my-scripts!");

    function toggleSummary(id) {
      var content = document.getElementById(id);
      var title = content.previousElementSibling;
  
      if (content.style.display === "none") {
        content.style.display = "block";
        title.textContent = "▼ TL;DR:";
      } else {
        content.style.display = "none";
        title.textContent = "▶ TL;DR:";
      }
    }
    
    document.addEventListener('DOMContentLoaded', function () {
      document.querySelectorAll('.collapsible-content').forEach(div => div.style.display = 'none');
    });
</script>