.dl-table {
  a {
    @supports ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      text-underline-offset: .8rem;
    }
    @supports not ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      padding-bottom: .45rem;
    }
  }

  .btn, .gumroad-button  {
    margin: 1rem 0;
  }
}

// You can add CSS rules here that will be inlucded in Hydejack's CSS file
// .icon-menu:before {
//     display : none;
// }
// .nav-btn {
//     display : none;
// }
/* font th in table */
// th {
// // font-family: "Roboto Thin";
// // font-weight: bold;
// // font-size: 1.5rem;
// float: left;
// width:auto;
// // vertical-align: top;
// }

/* font td in table */
// td {
// font-family: "sans";
// text-align: right;
// width:auto;
// font-size: 1.1rem;
// // vertical-align: top;
// }
.table-span-spacing {
  margin-top: 1px; /* 调整上方间距 */
  margin-bottom: 1px; /* 调整下方间距 */
  }
  
  .image-container2 {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0px;
  }
  
  .half-width {
  width: 50%;
  height: auto;
  }
  
  .image-container3 {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
  }
  
  .onethird-width {
      width: 33%;
      height: auto;
  }
  //darken the menu drawer icon
  .icon-menu:before {
      color: rgb(150,150,150);
  }
  
  //justify text
  // .text-justify {
  //   text-align: justify;
  // }
  
  //sidebar logo size
  .sidebar-about .avatar {
      width: 10rem;
      height: 10rem;
  //     border-radius: 100%;
  //     overflow: hidden;
  }
  
  // main text font size
  p {
      font-size: 0.98rem;
      line-height: 1.5rem;
  }
  
  //lead text font size
  p.lead {
      margin-top: 0; 
      font-size: 1.25rem;
  }
  
  //homepage header font size
  .homeheader {
      margin-top: 0; 
      font-size: 2rem;
      overflow: hidden;
  }
  
  // sidebar menu font size
  .sidebar-nav-item {
      font-size: 1rem;
  }
  
  // reduce top margin and weight of headings
  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
      margin-top: 0; 
      // font-weight: 600;
  }
  
  h2, .h2 {
      margin-bottom: 10px; // 调整下方间距
  }
  h3, .h3 {
      margin-bottom: 5px; // 调整下方间距
  }
  // h4, .h4 {
  //     margin-top: -10px; // 调整下方间距
  // }
  // change color of h3 - h6 to pitch black
  // h2, h3, h4, h5, h6, .h2, .h3, .h4, .h5, .h6 {
  //     color: black;
  // }
  
  // change color of h1 and homepage headers to blue
  // h1, .h1, .homeheader {
  //     color: rgb(1,92,171);
  // }
  
  //turn body text black
  // body {
  //     color: black;
  // }
  
  //turn footer text black
  // main>footer.content {
  //     color: black;
  // }
  
  //fix black title on v9 theme
  h2.h1 {
      color: white;
  }
  
  //make hyperlinks blue for v9
  // .content a:not(.btn) {
  //     color: rgb(1,92,171);
  // }
  
  //reduce weight of hyperlink underline
  // hy-push-state a {
  //     border-bottom: 0.0625rem solid;
  // }
  
  //give menu items regular weight for v9
  html {
      --font-weight-heading: 600;
  }
  
  //gumshoe styling
  #my-awesome-nav li.active a {
      border-bottom-color: white;
      text-decoration-color: white;
  }
  
  .authors {
      margin-top: 0px; /* Adjust this value as needed */
  }
  
  /* Summary title style */
  .summary-title {
    font-family: sans;
    font-size: 1.1rem;
    color: rgb(1,92,171);
    line-height: 1.8em;
    font-weight: bold;
    margin: 0.0em 0em;
    cursor: pointer;
  }
  
  /* Collapsible content styling */
  .collapsible-content {
    display: none; /* Hide by default */
    width: 85%;
    font-size: 15px;
    color: DimGray;
    margin-top: 0.5em;
  }